<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mainpage</title>
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="js/scrollIt.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script> //Page initialization

        wow = new WOW();
        wow.init();
        var doSetup = <%= doSetup %>;
        if(<%- wallet %> != null || <%- wallet %> != undefined || <%- wallet %> != ""){
            const wallet = '<%- wallet %>';
        }else{
            const wallet = "Wallet not set yet!";
        }
        $("#spin").hide(0);

    </script>

    <!-- Custom Page Logic -->
    <script type="module" src="../js/library.js"></script>
    <script src="../js/ui/main.js"></script>
    <!-- End JS -->
</head>

<body>
    <section>
        <div>
            <h3 class="text-center title">Welcome to INFT!</h3>
            <span class="line"></span>
            <div class="col-md-12" id="setup">
                <div class="tile text-center" style="margin: 0 auto;">

                </div>
            </div>                          
        </div>
    </section>
</body>

</html>